---
- name: nautilus role
  tags:
    - nautilus
  block:

  # assert
  - name: Assertions for nautilus role
    ansible.builtin.assert:
      that:
      - nautilus_scripts_path != None
      - nautilus_templates_path != None

  # apt
  - name: Install apt packages
    become: true
    ansible.builtin.apt:
      state: present
      name:
      - nautilus

  # nautilus_scripts
  - when: nautilus_scripts | length > 0
    ansible.builtin.import_tasks: nautilus-scripts.yml

  # nautilus_templates
  - when: nautilus_templates | length > 0
    ansible.builtin.import_tasks: nautilus-templates.yml
