# nautilus_scripts_reset
- when: nautilus_scripts_reset == true
  name: Reset/Empty directory {{ nautilus_scripts_path }}/
  ansible.builtin.file:
    state: absent
    path: "{{ nautilus_scripts_path }}/*"
  
# zenity
- name: Install zenity libnotify-bin
  become: true
  ansible.builtin.apt:
    state: present
    name:
      - zenity
      - libnotify-bin

# imagemagick
# selects the items of nautilus_scripts that pass the 'search' test which uses a regex
# the a new list is created from the selected items
# which is tested if it has items included
- when: nautilus_scripts | select("search", "img/|image/") | list | length > 0
  name: Install imagemagick
  become: true
  ansible.builtin.apt:
    state: present
    name: imagemagick

# tesseract
- when: nautilus_scripts | select("search", "text-recognition") | list | length > 0
  block:

  # install
  - name: Install tesseract-ocr
    become: true
    ansible.builtin.apt:
      state: present
      name: tesseract-ocr
  
  # copy tesseract.deu.traineddata
  - name: Copy deu./usr/share/tesseract-ocr/5/tessdata/deu.traineddatatraineddata to /usr/share/tesseract-ocr/5/tessdata/deu.traineddata
    become: true
    ansible.builtin.copy:
      src: tessdata_best.deu.traineddata
      dest: /usr/share/tesseract-ocr/5/tessdata/deu.traineddata
      owner: root
      group: root
      mode: u=rw,g=r,o=r

# ffmpeg
- when: nautilus_scripts | select("search", "audio") | list | length > 0
  name: Install ffmpeg
  become: true
  ansible.builtin.apt:
    state: present
    name: ffmpeg

# gpg
- when: nautilus_scripts | select("search", "crypto") | list | length > 0
  name: Install gpg
  become: true
  ansible.builtin.apt:
    state: present
    name: gpg

# pdfunite
- when: nautilus_scripts | select("search", "merge-pdf") | list | length > 0
  name: Install poppler-utils (pdfunite)
  become: true
  ansible.builtin.apt:
    state: present
    name: poppler-utils

# assert
- name: Check {{ nautilus_scripts_path }}
  ansible.builtin.assert:
    that:
      - nautilus_scripts_path.startswith('/home/' + nautilus_user)

# mk subdirs
- name: Mksubdirs for {{ nautilus_scripts }} in {{ nautilus_scripts_path }}
  become: true
  loop: "{{ nautilus_scripts }}"
  when: "'/' in item"
  ansible.builtin.file:
    state: directory
    path: "{{ nautilus_scripts_path }}/{{ item[:item.rfind('/')] }}" # img/convert-to-png.sh -> img
    owner: "{{ nautilus_user }}"
    group: "{{ nautilus_user }}"

# copy scripts
- when: nautilus_scripts | length > 0
  name: Copy {{ nautilus_scripts }} to {{ nautilus_scripts_path }}
  become: true
  loop: "{{ nautilus_scripts }}"
  ansible.builtin.copy:
    src: "scripts/{{ item }}" # img/convert-to-png.sh
    dest: "{{ nautilus_scripts_path }}/{{ item }}"
    owner: "{{ nautilus_user }}"
    group: "{{ nautilus_user }}"
    mode: "u=rwx,g=,o="
